{block content}

    <div class="row">
        <div class="col-md-6 push-md-3">
            <h1>Přihlášení</h1>

            {control flashMessages}

            {control login}
        </div>
    </div>

{/block}