{block scripts}
    {include parent}
    <script type="text/javascript" src="{$basePath}/assets/js/listingItemType2.min.js"></script>
{/block}


{block content}

    {control listingSettings}

{/block}