{if !empty($flashes)}
	<div n:foreach="$flashes as $flash" n:class="flash, $flash->type">
		<div class="icon-container">
			<img src="{$imagesPath}/{$flash->type}.svg" alt="{$flash->type}-icon" class="icon-{$flash->type}">
		</div>
		<div class="message-container">
            {_$flash->message}
		</div>
	</div>
{/if}