
<div class="day" n:snippet="item">

    <a href="{plink :Listings:Member:ListingItem:default listingId => $listing->getPresKey(), day => $day}" class="row-link" id="day-{$day+1}">
        <div n:class="day-item, ($isCurrentDay ? current-day : ($isWeekEnd ? weekend))">
            <div class="day-number">
                {$day}.
            </div>

            <div class="day-week-day-name">
                {$itemDate|weekDayName|substr:0,2|upper}
            </div>

            <div class="day-working-hours">
                <span>Prac. doba</span>
                {include #workingHours}
            </div>

            <div class="day-lunch">
                <span>Oběd</span>
                {include #lunch}
            </div>

            <div class="day-worked-hours">
                <span>Odpr. hod.</span>
                {include #workedHours}
            </div>

            <div class="day-locality">
                <span>Popis práce - místo</span>
                {include #locality}
            </div>
        </div>

    </a>

    <div class="item-actions" n:ifcontent>
        {block #copy-down}
            <a n:if="$day < $daysInMonth" href="{link copyDown}" class="ajax copy-item-down"><span>&darr;</span></a>
        {/block}

        {block #remove}
            <a href="{link remove}" class="ajax remove-item">&times;</a>
        {/block}
    </div>

</div>