<tr>
    <td>{$item->getDay()}</td>
    <td>{$item->getDate()|weekDayName|upper|substr:0,2}</td>
    <td>{$item->getLocality()}</td>
    <td>{$item->getWorkStart()|invoiceTimeHoursAndMinutes} - {$item->getWorkEnd()|invoiceTimeHoursAndMinutes}</td>
    <td>{$item->getLunch()|invoiceTimeWithComma}</td>
    <td>{$item->getWorkedHours()|invoiceTimeWithComma}</td>
    <td></td>
    <td></td>
</tr>