
<th class="w7p">Datum</th>
<th class="w7p">Den</th>
<th>Popis práce - místo</th>
<th class="w15p">Prac. doba</th>
<th class="w10p">Oběd</th>
<th class="w10p">Odpr. hod.</th>
<th class="w10p">Ost. hod.</th>