<!DOCTYPE html>
<html lang="cs">
<head>
    {control metaTags}

    {control pageTitle}

    {block styles}
        <link rel="stylesheet" href="{$basePath}/assets/css/original/listings_bootstrap.css">
        <link rel="stylesheet" href="{$basePath}/assets/css/original/listings.css">
    {/block}
</head>
<body>


<input type="radio" name="sidebar-nav" id="sidebar-expand">
<label for="sidebar-expand" id="sidebar-expand-button">MENU</label>
<div id="sidebar">
    <label for="sidebar-collapse" id="sidebar-inner-collapse-button"><i class="fa fa-fw fa-times"></i></label>

    <div id="sidebar-user">
        <i class="fa fa-fw fa-user"></i> {$_userEntity->getFullName()}
    </div>

    <nav id="main-nav">
        <ul>
            <li class="nav-header">Navigace</li>
            <li><a href="{plink :Listings:Listing:new}"><i class="fa fa-fw fa-file-text-o"></i> Vytvořit výčetku</a></li>
            <li><input type="checkbox" id="listing-years" {if $presenter->isLinkCurrent(':Listings:Dashboard:default')}checked{/if}>
                <label for="listing-years"><i class="fa fa-fw fa-th"></i> Přehled výčetek</label>
                <ul>
                    {foreach $_years as $_year}
                        <li><a href="{plink :Listings:Dashboard:default year => $_year}" n:class="($_year == $_chosenYear) ? active">{$_year}</a></li>
                    {/foreach}
                </ul>
            </li>
        </ul>

        <ul class="logout">
            <li><a href="{plink :Accounts:Auth:logOut}"><i class="fa fa-fw fa-sign-out"></i> Odhlásit</a></li>
        </ul>
    </nav>
</div>

<div id="content-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                {control flashMessages}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                {include #content}
            </div>
        </div>
    </div>
</div>

<input type="radio" name="sidebar-nav" id="sidebar-collapse">


{block scripts}
    <script type="text/javascript" src="{$basePath}/assets/js/concatenated/js.js"></script>
{/block}
</body>
</html>