<!DOCTYPE html>
<html lang="cs">
<head>
    {control metaTags}

    {control pageTitle}

    {block styles}
        <link rel="stylesheet" href="{$basePath}/assets/css/original/front.css">
    {/block}
</head>
<body>


{include #content}


{block scripts}
    <script type="text/javascript" src="{$basePath}/assets/js/js.min.js"></script>
{/block}
</body>
</html>