
{extends $originalTemplatePath}


{block content}
    <td><a href="{plink :Listings:ListingItem:default listingId => $listing->getId(), day => $day}" class="edit-item">&nbsp;</a></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
{/block}