<div class="card listing-removal">
    <div class="card-block">
        <div class="listing-removal-notice">
            Zrušení výčetky je nenávratná akce. Skutečně si přejete výčetku zrušit?
        </div>

        {form form}
            <button n:name="remove" class="btn btn-danger btn-lg">zrušit výčetku</button>
            <button n:name="cancel" class="btn btn-default btn-lg">zpět</button>
        {/form}
    </div>
</div>
