
{extends $originalTemplatePath}


{block locality}-{/block}


{block workingHours}-{/block}


{block lunch}-{/block}


{block workedHours}-{/block}


{block item-actions}{* empty *}{/block}


{block copy-down}{* empty *}{/block}


{block remove}{/block}