
{extends $originalTemplatePath}


{block content}
    <td><a href="{plink :Listings:Member:ListingItem:default listingId => $item->getListingId(), day => $day}" class="edit-item">{$item->getLocality()}</a></td>
    <td>{$item->getWorkStart()|invoiceTimeHoursAndMinutes} - {$item->getWorkEnd()|invoiceTimeHoursAndMinutes}</td>
    <td>{if $item->getLunch()->toSeconds() != 0}{$item->getLunchStart()|invoiceTimeHoursAndMinutes} - {$item->getLunchEnd()|invoiceTimeHoursAndMinutes}{else}-{/if}</td>
    <td>{$item->getWorkedHours()|invoiceTimeWithComma}</td>
    <td class="w75"><a n:if="$day < $daysInMonth" href="{link copyDown}" class="ajax copy-item-down"><i class="fa fa-angle-down"></i></a></td>
    <td class="w75"><a href="{link remove}" class="ajax remove-item"><i class="fa fa-remove"></i></a></td>
{/block}