
<ul class="listing-actions">
    <li><span><img src="{$imagesPath}/file-pdf.svg" width="25"></span> <a href="{plink :Listings:Member:ListingPdfGeneration:default id => $listing->getId()}">{*<i class="fa fw-fw fa-file-pdf-o"></i>*}Generovat PDF</a></li>
    <li><span><img src="{$imagesPath}/edit.svg" width="25"></span> <a href="{plink :Listings:Member:Listing:edit id => $listing->getId()}">{*<i class="fa fw-fw fa-edit"></i>*}Upravit</a></li>
    <li><span><img src="{$imagesPath}/trash.svg" width="22"></span> <a href="{plink :Listings:Member:Listing:remove id => $listing->getId()}">{*<i class="fa fw-fw fa-trash"></i>*}Odstranit výčetku</a></li>
</ul>