
<ul class="listing-actions">
    <li><a href="{plink :Listings:ListingPdfGeneration:default id => $listing->getId()}"><i class="fa fw-fw fa-file-pdf-o"></i>Generovat PDF</a></li>
    <li><a href="{plink :Listings:Listing:edit id => $listing->getId()}"><i class="fa fw-fw fa-edit"></i>Upravit</a></li>
    <li><a href="{plink :Listings:Listing:remove id => $listing->getId()}"><i class="fa fw-fw fa-trash"></i>Odstranit výčetku</a></li>
</ul>