extensions:
	console: Kdyby\Console\DI\ConsoleExtension
	events: Kdyby\Events\DI\EventsExtension
	annotations: Kdyby\Annotations\DI\AnnotationsExtension
	translation: Kdyby\Translation\DI\TranslationExtension
	doctrine: Kdyby\Doctrine\DI\OrmExtension
	monolog: Kdyby\Monolog\DI\MonologExtension

	# app specific extensions
	core: App\DI\CoreExtension

	url: Url\DI\UrlExtension
	users: Users\DI\UsersExtension