services:

	latte.templateFactory: App\Templates\TemplateFactory

	nette.latteFactory:
		setup:
			- addFilter(monthByNumber, @monthByNumberFilter)
			- addFilter(weekDayName, @weekDayNameFilter)


	# latte filters
	monthByNumberFilter: blitzik\Latte\Filters\MonthByNumberFilter
	weekDayNameFilter: blitzik\Latte\Filters\WeekDayNameFilter


	# core component factories
	pageTitleControlFactory:
			implement: App\Components\IPageTitleControlFactory
			parameters: [defaultTitle]
			arguments: [%defaultTitle%]

	metaTagsControlFactory:
		implement: App\Components\IMetaTagsControlFactory

	flashMessagesControlFactory:
		implement: App\Components\IFlashMessagesControlFactory