<div class="employer-item">
    {snippet content}
    <div class="employer-name">
        {$employer->getName()}
    </div>
    <div class="card">
        <div class="card-block">
                {include #content}
        </div>
    </div>
    {/snippet}
</div>