{block content}

    <div class="user-profile">
        <div class="user-detail">
            {control userDetail}
        </div>

        <div class="user-worked-time">
            {control workedTimeOverview}
        </div>
    </div>


{/block}