{block content}

    <div class="row">
        <div class="col-lg-6">
            {control userDetail}
        </div>

        <div class="col-lg-6">
            {control workedTimeOverview}
        </div>
    </div>

{/block}