<!doctype html>
<html lang="cs">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>výčetka</title>

    <style>
        body {
            font-family: Verdana, Arial, sans-serif;
            font-size: 12px;
            color: #333;
        }

        .listing-meta-table {
            width: 100%;
            border: 0;
            border-collapse: collapse;
        }

        .listing-meta-table th {
            font-size: 10px;
            text-align: left;
        }

        .listing-meta-table td {
            font-size: 13px;
            width: 33.33333%;
            border: 1px solid #000;
            padding: 5px 10px;
        }

        .listing-table{
            border: 1px solid #000;
            border-collapse: collapse;
            width: 100%;
            margin-top: 10px;
        }

        .listing-table th,
        .listing-table td {
            border: 1px solid #000;
            padding: 7px;
            text-align: center;
        }

        .listing-table th {
            font-size: 10px;
        }

        .summary th,
        .summary td {
            font-size: 10px;
            padding-top: 3px;
            padding-bottom: 3px;
        }

        .bold-text {
            font-weight: bold;
        }

        .week-day {
            background-color: #e5e5e5;
        }

        .padding-top {
            padding-top: 8px;
        }

        .margin-b-50 {
            margin-bottom: 50px;
        }

        .w5p { width: 5%; }
        .w7p { width: 7%; }
        .w10p { width: 10%; }
        .w12p { width: 12%; }
        .w13p { width: 13%; }
        .w15p { width: 15%; }
    </style>
</head>
<body>

{foreach $listings as $listing}
<table class="listing-meta-table">
    <tr>
        <td rowspan="4" style="border: 0; font-size: 25px; font-weight: bold; padding: 0;">{$listing->getMonth()|monthByNumber} {$listing->getYear()}</td>
        <th>Zaměstnavatel:</th>
        <th>Jméno:</th>
    </tr>
    <tr>
        <td>{if $listing->getEmployerName() !== null}{$listing->getEmployerName()}{else}&nbsp;{/if}</td>
        <td>{if $listing->getEmployeeFullName() != ''}{$listing->getEmployeeFullName()}{else}&nbsp;{/if}</td>
    </tr>

    <tr>
        <th class="padding-top">Základní mzda:</th>
        <th class="padding-top">Odpracované hodiny:</th>
    </tr>
    <tr>
        <td>{if $listing->isHourlyRateDisplayed() and $listing->getHourlyRate() !== null}{$listing->getHourlyRate()} Kč/h{else}&nbsp;{/if}</td>
        <td align="right">{if $listing->getWorkedHours()->getSeconds() != 0}<b>{$listing->getWorkedHours()|invoiceTimeWithComma}</b>{else}&nbsp;{/if}</td>
    </tr>
</table>


<table n:class="listing-table, $listing->getMonth() === 2 ? margin-b-50">
    <thead>
    <tr>
        {include './table header/'.$listing->getType().'.latte'}
    </tr>
    </thead>

    <tbody>
    {for $day = 1; $day <= $listing->getDaysInMonth(); $day++}
        {var $item = $listing->getItemByDay($day)}
        {var $itemBasePath = sprintf('../../../templates/items/%s/types/%s', $itemAppearance, $listing->getType())}
        {if $item->isEmpty()}
            {include $itemBasePath.'/empty.latte', item => $item}
        {elseif $item->getWorkedHoursWithLunch()->getSeconds() == 0}
            {include $itemBasePath.'/onlyLocality.latte', item => $item}
        {else}
            {include $itemBasePath.'/full.latte', item => $item}
        {/if}
    {/for}
    </tbody>
</table>
{/foreach}

</body>
</html>