
# template filters
invoiceTimeFilter: Listings\Template\Filters\InvoiceTimeFilter
invoiceTimeWithCommaFilter: Listings\Template\Filters\InvoiceTimeWithCommaFilter

# facades
listingFacade: Listings\Facades\ListingFacade