
listingPdfTemplateFactory: Listings\Pdf\ListingPdfTemplateFactory
listingItemFormFactory: Listings\Services\Factories\ListingItemFormFactory
listingItemManipulatorFactory: Listings\Services\ListingItemManipulatorFactory


# acl
listingOwnerAuthorizationAssertion: Listings\ACL\ListingOwnerAuthorizationAssertion


# template filters
invoiceTimeFilter: Listings\Template\Filters\InvoiceTimeFilter
invoiceTimeWithCommaFilter: Listings\Template\Filters\InvoiceTimeWithCommaFilter


# persisters
listingPersister: Listings\Services\Persisters\ListingPersister
employerPersister: Listings\Services\Persisters\EmployerPersister
rangeLunchListingItemPersister: Listings\Services\Persisters\RangeLunchListingItemPersister
simpleLunchListingItemPersister: Listings\Services\Persisters\SimpleLunchListingItemPersister


# listing item manipulators
rangeLunchListingItemManipulator: Listings\Services\RangeLunchListingItemManipulator
simpleLunchListingItemManipulator: Listings\Services\SimpleLunchListingItemManipulator


# removers
listingRemover: Listings\Services\Removers\ListingRemover


# facades
listingFacade: Listings\Facades\ListingFacade
employerFacade: Listings\Facades\EmployerFacade


# component factories
listingsOverviewControlFactory:
	implement: Listings\Components\IListingsOverviewControlFactory
	parameters: [year]
	arguments: [%year%]

listingControlFactory:
	implement: Listings\Components\IListingControlFactory
	parameters: [Listings\Listing listing]
	arguments: [%listing%]

listingFormControlFactory:
	implement: Listings\Components\IListingFormControlFactory

listingTableControlFactory:
	implement: Listings\Components\IListingTableControlFactory
	parameters: [Listings\Listing listing]
	arguments: [%listing%]

listingItemControlFactory:
	implement: Listings\Components\IListingItemControlFactory
	parameters: [day, Listings\Listing listing, Listings\IListingItem listingItem = null]
	arguments: [%day%, %listing%, %listingItem%]

listingItemEditingControlFactory:
	implement: Listings\Components\IListingItemEditingControlFactory
	parameters: [int day, Listings\Listing listing]
	arguments: [%day%, %listing%]

listingItemFormControlFactory:
	implement: Listings\Components\IListingItemFormControlFactory
	parameters: [int day, Listings\Listing listing]
	arguments: [%day%, %listing%]

lunchRangeListingItemFormControlFactory:
	implement: Listings\Components\ILunchRangeListingItemFormControlFactory
	parameters: [int day, Listings\Listing listing]
	arguments: [%day%, %listing%]

listingActionsControlFactory:
	implement: Listings\Components\IListingActionsControlFactory
	parameters: [Listings\Listing listing]
	arguments: [%listing%]

listingRemovalControlFactory:
	implement: Listings\Components\IListingRemovalControlFactory
	parameters: [Listings\Listing listing]
	arguments: [%listing%]

listingPdfGenerationControlFactory:
	implement: Listings\Components\IListingPdfGenerationControlFactory
	parameters: [Listings\Listing listing]
	arguments: [%listing%]

employerFormControlFactory:
	implement: Listings\Components\IEmployerFormControlFactory

employersOverviewControlFactory:
	implement: Listings\Components\IEmployersOverviewControlFactory
	parameters: [Users\User owner]
	arguments: [%owner%]

employerItemControlFactory:
	implement: Listings\Components\IEmployerItemControlFactory
	parameters: [Listings\Employer employer]
	arguments: [%employer%]

emptyListingPdfGenerationControlFactory:
	implement: Listings\Components\IEmptyListingPdfGenerationControlFactory