
#nullTranslator: Common\Components\FlashMessages\NullTranslator


flashMessagesControlFactory:
	implement: Common\Components\IFlashMessagesControlFactory

metaTagsControlFactory:
	implement: Common\Components\IMetaTagsControlFactory

metaTitleControlFactory:
	implement: Common\Components\IMetaTitleControlFactory

pageTitleControlFactory:
	implement: Common\Components\IPageTitleControlFactory