
{extends $originalTemplatePath}


{block content}
    <td><a href="{plink :Listings:Member:ListingItem:default listingId => $listing->getId(true), day => $day}" class="edit-item">&nbsp;</a></td>
    <td></td>
    <td></td>
    <td></td>
    <td class="w75"></td>
    <td class="w75"></td>
{/block}