
{extends $originalTemplatePath}


{block locality}
    {$item->getLocality()}
{/block}


{block workingHours}-{/block}


{block lunch}-{/block}


{block workedHours}-{/block}


{block copy-down}
    <a n:if="$day < $daysInMonth" href="{link copyDown}" class="ajax copy-item-down">&dtrif;</a>
{/block}


{block remove}
    <a href="{link remove}" class="ajax remove-item">&times;</a>
{/block}