
{extends $originalTemplatePath}


{block content}
    {form removalForm}
        <p class="margin-bottom-md">
            Skutečně si přejete zaměstnavatele odebrat?
        </p>

        <div class="employer-item-actions">
            <button n:name="remove" class="ajax btn btn-danger form-control">odebrat</button>
            <button n:name="cancel" class="ajax btn btn-secondary form-control employer-back">zpět</button>
        </div>
    {/form}
{/block}