@import "../../../../../../bower_components/bootstrap/scss/variables";
@import "../../../../../../bower_components/bootstrap/scss/mixins";
@import "variables";

@import "listing-table";

.w75 {
  width: 75px;
}

.w125 {
  width: 130px;
}

.w350{
  width: 350px;
}


h1 {
  margin-top: 0;
  margin-bottom: 20px;
}

#content-wrapper {
  transition: margin-left .7s;
}

.content-header {
  padding-top: 20px;
  margin-bottom: 25px;

  h2 {
    padding-bottom: 5px;
    margin-top: 0;
    display: block;
    border-bottom: 1px solid #b0bec5;
  }
}

.content{
  padding-bottom: 100px;
}

.year-statistics{
  margin-bottom: 25px;
}

.employer-creation-form{
  margin-bottom: $grid-gutter-width-base / 2;
}

.employer-item{
  margin-top: $grid-gutter-width-base / 2;
}

.listing {
  display: block;
  background-color: #fff;
  border: 1px solid #b0bec5;
  padding: $grid-gutter-width-base / 2;
  padding-top: 0;
  margin-bottom: $grid-gutter-width-base / 2;
  overflow: auto;
  text-decoration: none;

  small{
    padding-top: $grid-gutter-width-base / 2;
    display: block;
  }

  &:hover{
    border: 1px solid darken(#b0bec5, 10%);
  }
}


.listing-item-title {
  margin-bottom: 30px;
}


.listing-item-form{
  margin-top: $grid-gutter-width-base / 2;
}


.listing-actions {
  width: 1000px;
  margin: 0 0 10px 0;
  padding: 0;
  list-style: none;
  background-color: #fff;
  border: 1px solid #b0bec5;
  overflow: auto;

  li {
    float: left;

    a {
      display: block;
      padding: 12px 20px;
      border-right: 1px solid #b0bec5;

      i {
        margin-right: 10px;
      }
    }
  }
}

.listing-removal {
  width: 1000px;

  .listing-removal-notice {
    background-color: #e74c3c;
    color: #fff;
    padding: 15px;
    margin-bottom: 15px;
  }
}

.btn-null-time {
  @include button-variant(#fff, #16a085, #16a085);
}


@media (min-width: map-get($grid-breakpoints, 'xl')) {
  .listing-form {
    max-width: 40%;
  }
}


@media (min-width: map-get($grid-breakpoints, 'md')) {
  #content-wrapper {
    margin-left: $sidebar-width;
  }

  .listing-removal-form {
    max-width: 40%;
  }
}


@media (min-width: map-get($grid-breakpoints, 'lg')) {
  #content-wrapper {
    margin-left: $sidebar-width;
  }

  .employer-content {
    max-width: 75%;
  }
}


@media (min-width: 1600px) {
  #content-wrapper {
    max-width: 66%;
  }
}