@import "../../../../../../bower_components/bootstrap/scss/variables";
@import "variables";
@import "../../../../../../bower_components/bootstrap/scss/mixins";


.listing-info{
  max-width: 1000px;
  overflow: auto;
  background-color: #fff;
  border: 1px solid #B0BEC5;
  padding: 10px;

  span{
    float: right;
  }
}

.listing-days{
  max-width: 1000px;

  h3{
    font-size: 1em;
    margin-top: 25px;
    border-bottom: 1px solid #B0BEC5;
  }
}

.day-labels{
  font-size: 0.65em;
  font-weight: bold;
}

.day{
  font-size: 1.15em;
  margin-top: 10px;

  .week-day-name{
    font-size: 1.1em;
    font-weight: bold;
    /*text-align: center;*/
  }
}

.day-item{
  background-color: #fff;
  border: 1px solid #B0BEC5;
  padding: 10px;

  &.current-day{
    background-color: #e8f5e9;
    border: 1px solid #4caf50;
  }

  &.weekend{
    background-color: #efebe9;
    border: 1px solid #bcaaa4;
  }
}

.row-link{
  text-decoration: none;
  color: #333;

  .day-item:hover{
    border: 1px solid #448aff;
  }
}

.copy-item-down,
.remove-item{
  width: 100px;
  display: inline-block;
  background-color: #26A69A;
  color: #fff;
  font-weight: bold;
  text-align: center;
  text-decoration: none;

  &:hover{
    color: #fff;
  }
}

.copy-item-down:hover{
  background-color: darken(#26A69A, 10%);
}

.remove-item{
  width: 50px;
  background-color: #e74c3c;

  &:hover{
    background-color: darken(#e74c3c, 10%);
  }
}