@import "../../../../../../bower_components/bootstrap/scss/variables";
@import "variables";
@import "../../../../../../bower_components/bootstrap/scss/mixins";


.listing-actions{
  display: flex;
  position: relative;

  .btn-generate-pdf,
  .btn-generate-pdf-in-list{
    flex: 2 0 50%;
    margin-right: 10px;
    background-color: #fff;
    border: 1px solid #B0BEC5;
    padding: 20px;

    img{
      margin-right: 15px;
    }
  }

  .btn-generate-pdf-in-list{
    display: none;
  }

  .listing-actions-expand{
    display: block;
    padding: 20px;
    margin-bottom: 0;
    border: 1px solid #B0BEC5;
    background-color: #fff;
    text-align: center;
    overflow: auto;
    cursor: pointer;
  }

  #listing-actions-expand{
    display: none;
  }

  ul{
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    display: none;
    clear: both;
    background-color: #263238;
    border: 1px solid #263238;
    position: absolute;
    top: 67px;

    li{
      display: block;
      border-bottom: 1px solid #364044;

      &:first-of-type{
        border-bottom: 0;
      }

      &:last-of-type{
        border-bottom: 0;
      }

      a{
        display: flex;
        padding: 20px;
        color: #BBCBCD;

        &:hover{
          background-color: #202B30;
        }

        svg{
          margin-right: 15px;
        }
      }
    }
  }

  #listing-edit-icon,
  #listing-trash-icon{
    fill: #fff;
  }

  #listing-actions-expand:checked + .listing-actions-expand{
    background-color: #263238;
    border: 1px solid #263238;
    color: #fff;
  }

  #listing-actions-expand:checked + .listing-actions-expand #listing-nav-icon{
    fill: #fff;
  }

  #listing-actions-expand:checked + .listing-actions-expand + ul{
    display: block;
  }
}


.listing-info{
  overflow: auto;
  background-color: #fff;
  border: 1px solid #B0BEC5;
  padding: 10px;
  margin-top: 15px;

  span{
    display: block;
  }
}

.listing-days{
  h3{
    font-size: 1em;
    margin-top: 25px;
    border-bottom: 1px solid #B0BEC5;
  }
}

.day-labels{
  font-size: 0.65em;
  font-weight: bold;
}

.day{
  font-size: 1.15em;
  margin-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;

  .week-day-name{
    font-size: 1.1em;
    font-weight: bold;
  }
}

.day-item{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #fff;
  border: 1px solid #B0BEC5;
  padding: 10px;

  span{
    font-size: 0.65em;
    font-weight: bold;
    display: block;
  }

  &.current-day{
    background-color: #e8f5e9;
    border: 1px solid #4caf50;
  }

  &.weekend{
    background-color: #efebe9;
    border: 1px solid #bcaaa4;
  }
}

.day-number,
.day-week-day-name{
  background-color: #78909c ;
  color: #fff;
  border: 1px solid #78909c ;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  margin-bottom: 10px;
}

.day-number{
  flex: 1 0 50%;
  order: 1;
}

.day-week-day-name{
  flex: 1 0 50%;
  order: 2;
}

.day-working-hours{
  order: 3;
  flex: 1 0 70%;
}

.day-lunch{
  order: 5;
  flex: 1 0 100%;
}

.day-worked-hours{
  order: 4;
  flex: 1 0 30%;
  text-align: right;
}

.day-locality{
  flex: 3 0 100%;
  order: 6;
  padding-top: 10px;
}


.row-link{
  text-decoration: none;
  color: #333;

  .day-item:hover{
    border: 1px solid #448aff;
  }
}


.item-actions{
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.copy-item-down,
.remove-item{
  background-color: #26A69A;
  color: #fff;
  font-weight: bold;
  text-decoration: none;

  display: flex;
  align-items: center;
  justify-content: center;

  &:hover{
    color: #fff;
  }
}

.copy-item-down{
  flex: 2 0 66%;
  order: 2;
  margin-left: 10px;
}

.copy-item-down:hover{
  background-color: darken(#26A69A, 10%);
}

.remove-item{
  flex: 1 0 33%;
  order: 1;
  background-color: #e74c3c;

  &:hover{
    background-color: darken(#e74c3c, 10%);
  }
}


@media (min-width: 1024px) {
  .listing-actions{
    display: block;
    position: static;
    background-color: #fff;
    border: 1px solid #B0BEC5;
    justify-content: space-between;

    .btn-generate-pdf-in-list{
      display: flex;
      border: 0;
      border-right: 1px solid #B0BEC5;
      margin-right: 0;
      padding-top: 15px;
      padding-bottom: 15px;
    }

    .btn-generate-pdf{
      display: none;
    }

    .listing-actions-expand{
      display: none;
    }

    ul{
      width: auto;
      flex: 1 0 60%;
      position: static;
      background-color: #fff;
      overflow: auto;

      li{
        float: left;
        border: 0;

        a{
          color: #0275d8;
          border: 0;
          border-right: 1px solid #B0BEC5;
          padding-top: 15px;
          padding-bottom: 15px;

          &:hover{
            background-color: #fff;
            color: $link-hover-color;
            text-decoration: none;
          }
        }
      }
    }

    #listing-actions-expand + .listing-actions-expand + ul{
      display: block;
      background-color: #fff;
      border: 0;
    }

    #listing-edit-icon,
    #listing-trash-icon{
      fill: #333;
    }
  }

  .listing-info span{
    float: right;
  }
}


@media (min-width: 1300px) {
  .day{
    border-bottom: 0;
  }
}


@supports (display: grid) {
  .day-number{
    grid-area: dayNumber;
  }

  .day-week-day-name{
    grid-area: weekDayName;
  }

  .day-working-hours{
    grid-area: workingHours;
  }

  .day-lunch{
    grid-area: lunchHours;
  }

  .day-worked-hours{
    grid-area: workedHours;
    text-align: right;
  }

  .day-locality{
    grid-area: locality;
  }

  .row-link{
    grid-area: dayItem;
  }

  .copy-item-down{
    grid-area: copyItemDown;
  }

  .remove-item{
    grid-area: removeItem;
  }

  .item-actions{
    grid-area: itemActions;
  }


  @media (min-width: 500px) {
    .day{
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 10px;
      grid-template-areas:
              "dayItem"
              "itemActions";
    }

    .day-item{
      display: grid;
      grid-gap: 10px;
      grid-template-columns: 44px 1fr 1fr 1fr;
      grid-template-areas:
              "dayNumber workingHours lunchHours workedHours"
              "weekDayName locality locality locality";
    }

    .day-locality{
      padding: 0;
    }

    .day-number,
    .day-week-day-name{
      margin-bottom: 0;
    }

    .item-actions{
      margin-top: 0;
    }
  }


  @media (min-width: 768px) {

  }


  @media (min-width: 1024px) {
    .day{
      grid-template-columns: 1fr 160px;
      grid-template-areas:
        "dayItem itemActions";
    }

    .item-actions{
      display: flex;

      .copy-item-down{
        flex: 2 0 100px;
        order: 1;
        margin-left: 0;
        margin-right: 10px;
      }

      .remove-item{
        flex: 1 0 50px;
      }
    }
  }


  @media (min-width: 1300px) {
    .day-worked-hours{
      text-align: center;
    }

    .day-item{
      grid-template-columns: 44px 44px 3fr 1fr 1fr 1fr;
      grid-template-areas:
        "dayNumber weekDayName locality workingHours lunchHours workedHours";
    }
  }
}