@import "../../../../../../bower_components/bootstrap/scss/variables";
@import "../../../../../../bower_components/bootstrap/scss/mixins";


.listing-table {
  background-color: #fff;
  margin-bottom: 150px;
  width: 1000px;

  caption {
    caption-side: top;
    border: 1px solid #b0bec5;
    border-bottom: 0;
    background-color: #fff;
    color: #333;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    overflow: auto;

    span {
      float: right;
    }
  }

  thead {
    background-color: #546E7A;
    border: 1px solid #546E7A;
    color: #fff;

    th {
      background-color: #546E7A;
    }
  }

  tr {
    &.current-day {
      background-color: #FFE0B2;
    }

    &.week-end {
      background-color: #ECEFF1;
    }
  }

  tr:hover {
    background-color: #FBE9E7;
    //color: #fff;
  }

  th, td {
    height: 60px;
    text-align: center;
  }

  td {
    border: 1px solid #d5d5d5;

    a {
      text-decoration: none;
    }

    a:hover {
      text-decoration: none;
    }
  }

  .copy-item-down,
  .remove-item {
    font-size: 1.3em;
    background-color: #26A69A;
    padding: 10px 15px;
    @include border-radius(5px);
    color: #fff;
    margin: 0 7px;
    font-weight: bold;
  }

  .remove-item {
    background-color: #e74c3c;
  }

  .edit-item {
    display: block;
  }
}