@import "../../../../../../bower_components/bootstrap/scss/variables";
@import "variables";


#sidebar {
  position: fixed;
  z-index: 100;
  top: 0;
  bottom: 0;
  width: $sidebar-width;
  margin-left: -$sidebar-width;
  background-color: #263238;
  overflow: auto;

  transition: margin-left .7s, width 1s;

  #sidebar-user {
    width: 100%;
    padding: 30px $sidebar-horizontal-padding;
    margin-bottom: 30px;
    color: #fff;
    border-bottom: 1px solid #364044;
    display: table;

    .sidebar-user-detail,
    .sidebar-user-ico{
      display: table-cell;
      vertical-align: middle;
    }

    .sidebar-user-detail a{
      color: #fff;
      text-decoration: underline;

      &:hover{
        text-decoration: none;
      }
    }

    .sidebar-user-ico{
      width: 30px;
      padding-right: 10px;

      img {
        width: 18px;
        height: 27px;
      }
    }

  }

  #main-nav {
    .nav-header {
      color: #BBCBCD;
      font-size: 0.75em;
      padding: 0 $sidebar-horizontal-padding;
      margin-bottom: 10px;
      text-transform: uppercase;
    }

    img{
      width: 20px;
      height: 20px;
      margin-right: 10px;
    }

    ul {
      margin: 0;
      padding: 0;

      li {
        list-style: none;

        a, label {
          display: block;
          color: #BBCBCD;
          padding: 12px $sidebar-horizontal-padding;
          text-decoration: none;
          cursor: pointer;

          img {
            //padding-right: 30px;
          }

          &:hover {
            background-color: #202B30;
            color: #fff;
          }

          &.active {
            background-color: #26A69A;
            color: #fff;
          }
        }

        input {
          display: none;
        }

        label {
          margin-bottom: 0;
          position: relative;

          &:after {
            content: url($imagesPath + "menu-angle-right.svg");
            width: 11px; // 11
            height: 32px; // 32
            //float: right;
            position: absolute;
            right: 15px;
            top: 8px;
          }
        }

        input + label + ul {
          height: 0;
          overflow: hidden;
          background-color: darken(#202B30, 5%);

          transition: height .5s;

          li a{
            padding-left: 75px;
            margin-left: -$sidebar-width;

            transition: margin-left .2s, transform 1s;
          }
        }

        input:checked {
          & + label {
            background-color: darken(#202B30, 2.5%);

            &:after {
              content: url($imagesPath + "menu-angle-down.svg");
              width: 21px; // 21
              height: 32px; // 32
              //float: right;
            }

            & + ul {
              height: auto;

              li a {
                margin-left: 0;
              }
            }
          }
        }
      }
    }

    .logout{
      margin-top: 50px;
      border-top: 1px solid #364044;
    }
  }
}

#sidebar-expand,
#sidebar-collapse {
  display: none;
}

#sidebar-inner-collapse-button {
  display: block;
  padding: 20px;
  margin-bottom: 0;
  color: #81D4FA;
  text-align: center;
  border-bottom: 1px solid #364044;
  cursor: pointer;
}

#sidebar-expand-button {
  position: fixed;
  z-index: 101;
  bottom: 5px;
  left: 5px; //$sidebar-horizontal-padding;
  margin-bottom: 0;
  display: block;
  width: 100px;
  height: 60px;
  line-height: 60px;
  background-color: #81D4FA;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  opacity: .60;

  transition: bottom .66s;
}

#sidebar-expand:checked + #sidebar-expand-button {
  bottom: -300px;
}

#sidebar-expand:checked + #sidebar-expand-button + #sidebar {
  margin-left: 0;
  width: 100%;
}

@media (min-width: map-get($grid-breakpoints, 'md')) {
  #sidebar {
    margin-left: 0;
  }

  #sidebar-inner-collapse-button {
    display: none;
  }

  #sidebar-expand-button {
    display: none;
  }
}