
{extends '../layout.latte'}


{block tableHead}
    <th class="w75">Datum</th>
    <th class="w75">Den</th>
    <th>Popis práce - místo</th>
    <th class="w125">Prac. doba</th>
    <th class="w75">Oběd</th>
    <th class="w75">Odpr. hod.</th>
    <th colspan="2">Akce</th>
{/block}