includes:
	- parameters.neon
	- extensions.neon
	- services.neon


application:
	errorPresenter: Error
	mapping:
		*: Common\*Module\Presenters\*Presenter


session:
	expiration: 14 days
	savePath: %appDir%/temp/sessions
	name: listings


tracy:
	bar:
		- Nextras\MailPanel\MailPanel(%tempDir%/mail-panel-latte)


monolog:
	name: listings


console:
	application: false


doctrine:
	defaultRepositoryClassName: Kdyby\Doctrine\EntityRepository

	host: %database.host%
	user: %database.user%
	password: %database.password%
	dbname: %database.dbname%

	dql:
		string:
			'COLLATE': blitzik\Doctrine\MySQL\Collate

		datetime:
			'TIME_TO_SEC': blitzik\Doctrine\MySQL\TimeToSec
			'SEC_TO_TIME': blitzik\Doctrine\MySQL\SecToTime
			'ADDTIME': blitzik\Doctrine\MySQL\AddTime
			'SUBTIME': blitzik\Doctrine\MySQL\SubTime

	types:
		'listing_time': Listings\Doctrine\Types\ListingTimeType
		'date_immutable': VasekPurchart\Doctrine\Type\DateTimeImmutable\DateImmutableType
		'datetime_immutable': VasekPurchart\Doctrine\Type\DateTimeImmutable\DateTimeImmutableType
		'time_immutable': VasekPurchart\Doctrine\Type\DateTimeImmutable\TimeImmutableType


decorator:
	Common\Components\BaseControl:
		setup:
			- injectFlashMessagesFactory(@Common\Components\IFlashMessagesControlFactory)
			- injectFlashMessagesTranslator(@Kdyby\Translation\Translator)
			- setAuthorizator(@Nette\Security\IAuthorizator)
			- setUser(@security.user)