<!doctype html>
<html lang="cs">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>výčetka</title>

    <style>
        body {
            font-family: Verdana, Arial, sans-serif;
            font-size: 12px;
            color: #333;
        }

        .listing-meta-table {
            width: 100%;
            border: 0;
            border-collapse: collapse;
        }

        .listing-meta-table th {
            font-size: 10px;
            text-align: left;
        }

        .listing-meta-table td {
            font-size: 10px;
            width: 33.33333%;
            border: 1px solid #000;
            padding: 5px 10px;
        }

        .listing-table{
            border: 1px solid #000;
            border-collapse: collapse;
            width: 100%;
            margin-top: 10px;
        }

        .listing-table th,
        .listing-table td {
            border: 1px solid #000;
            padding: 5px;
            text-align: center;
        }

        .listing-table th {
            font-size: 10px;
        }

        .summary th,
        .summary td {
            font-size: 10px;
            padding-top: 3px;
            padding-bottom: 3px;
        }

        .bold-text {
            font-weight: bold;
        }

        .week-day {
            background-color: #e5e5e5;
        }

        .w7p { width: 7%; }
        .w10p { width: 10%; }
        .w15p { width: 15%; }
        .w16p { width: 16%; }
        .w20p { width: 20%; }
        .w32p { width: 32%; }
    </style>
</head>
<body>


{foreach $listings as $listing}
<table class="listing-meta-table">
    <tr>
        <td rowspan="2" style="border: 0; font-size: 25px; font-weight: bold; padding: 0;">{$listing->getMonth()|monthByNumber} {$listing->getYear()}</td>
        <th>Zaměstnavatel:</th>
        <th>Jméno:</th>
    </tr>
    <tr>
        <td>{if $listing->getEmployerName() !== null}{$listing->getEmployerName()}{else}&nbsp;{/if}</td>
        <td>{if $listing->getEmployeeFullName() != ''}{$listing->getEmployeeFullName()}{else}&nbsp;{/if}</td>
    </tr>
</table>


<table class="listing-table">
    <thead>
    <tr>
        <th class="w7p">Datum</th>
        <th class="w7p">Den</th>
        <th>Popis práce - místo</th>
        <th class="w15p">Prac. doba</th>
        <th class="w10p">Oběd</th>
        <th class="w10p">Odpr. hod.</th>
        <th class="w10p">Ost. hod.</th>
    </tr>
    </thead>

    <tbody>
    {for $day = 1; $day <= $listing->getDaysInMonth(); $day++}
        {var $item = $listing->getItemByDay($day)}
        {var $itemTypeTemplateBasePath = sprintf('../items/%s/types/', $itemType)}
        {if $item->isEmpty()}
            {include $itemTypeTemplateBasePath.'empty.latte', item => $item}
        {elseif $item->getWorkedHoursWithLunch()->toSeconds() === 0}
            {include $itemTypeTemplateBasePath.'onlyLocality.latte', item => $item}
        {else}
            {include $itemTypeTemplateBasePath.'full.latte', item => $item}
        {/if}
    {/for}
    </tbody>
</table>


<table class="listing-table summary">
    <tr>
        <td class="w16p">Dovolená</td>
        <td class="w16p"></td>
        <td class="w16p">Ostat. hod.</td>
        <td class="w16p"></td>
        <td class="w16p">Odprac. hod</td>
        <td class="w20p"></td>
    </tr>

    <tr>
        <td>Nemoc hod.</td>
        <td></td>
        <td>Svátek</td>
        <td></td>
        <td>Obědy</td>
        <td></td>
    </tr>

    <tr>
        <td colspan="5" align="right" class="bold-text" style="font-size: 13px;">Hodin celkem</td>
        <td class="bold-text" style="font-size: 13px;">{if $listing->getWorkedHours()->toSeconds() != 0}{$listing->getWorkedHours()|invoiceTimeWithComma}{else}&nbsp;{/if}</td>
    </tr>
</table>


<table class="listing-table summary">
    <tr>
        <td class="w32p"><b>Základní mzda</b></td>
        <td class="w16p">{if $listing->isHourlyRateDisplayed() and $listing->getHourlyRate() !== null}{$listing->getHourlyRate()} Kč/h{/if}</td>
        <td>Dovolená - dni</td>
        <td class="w20p"></td>
    </tr>
    <tr>
        <td>Diety</td>
        <td></td>
        <td>Placené svátky</td>
        <td></td>
    </tr>
    <tr>
        <td>Odměny</td>
        <td></td>
        <td>$</td>
        <td></td>
    </tr>
    <tr>
        <td>Zálohy</td>
        <td></td>
        <td>Nemoc</td>
        <td></td>
    </tr>
    <tr>
        <td colspan="3" align="right" class="bold-text" style="font-size: 13px;">Podpis pracovníka</td>
        <td></td>
    </tr>
</table>

{/foreach}

</body>
</html>