# commands
newUrlCommand:
	class: Url\Commands\NewUrlCommand
	tags: [kdyby.console.command]


urlPersister: Url\Services\UrlPersister

router: Url\Services\Router
requestPanel: Url\Panel\RequestPanel

urlLinker: Url\Services\UrlLinker

urlFacade: Url\Facades\UrlFacade