
<div class="card">
    <div class="card-block">
        {snippet flashMessages}
            {control flashMessages}
        {/snippet}

        {form loginForm}
            <div class="form-group">
                {label email /}
                <div class="input-group">
                    <span class="input-group-addon" title="E-mailová adresa"><i class="fa fa-envelope-o fa-fw"></i></span>
                    {input email class => 'form-control', placeholder => 'zadejte Váš E-mail'}
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-xs-3">{label password /}</div>
                    <div class="col-xs-9 text-xs-right">
                        <a class="" href="">Potřebujete obnovit heslo?</a>
                    </div>
                </div>
                <div class="input-group">
                    <span class="input-group-addon" title="Heslo"><i class="fa fa-key fa-fw"></i></span>
                    {input password class => 'form-control', placeholder => 'zadejte Vaše heslo'}
                </div>
            </div>

            <button n:name="login" class="btn btn-primary btn-block">Přihlásit</button>
        {/form}
    </div>
</div>

<div class="card">
    <div class="card-block text-xs-center">
        <a class="d-block" href="{plink :Accounts:Public:Registration:default}">Založit nový účet</a>
    </div>
</div>