
<div class="card new-employer-form">
    <div class="card-block">
        {form form}
            <div class="row">
                <div class="col-xs-12">{label name /}</div>
            </div>

            <div class="row">
                <div class="col-md-8 margin-bottom-md">{input name class => 'form-control'}</div>
                <div class="col-md-4"><button n:name="save" class="btn btn-primary form-control">Uložit</button></div>
            </div>
        {/form}
    </div>
</div>