html, body {
  height: 100%;
}

body {
  background-color: #f5f5f5;
}

#sidebar {
  position: fixed;
  z-index: 100;
  top: 0;
  bottom: 0;
  width: 275px;
  margin-left: -275px;
  background-color: #263238;
  overflow: hidden;
  transition: margin-left .7s, width 1s;
}
#sidebar #sidebar-user {
  padding: 30px 20px;
  margin-bottom: 30px;
  color: #fff;
  border-bottom: 1px solid #364044;
}
#sidebar #sidebar-user i {
  padding-right: 30px;
}
#sidebar #main-nav .nav-header {
  color: #BBCBCD;
  font-size: 0.75em;
  padding: 0 20px;
  margin-bottom: 10px;
  text-transform: uppercase;
}
#sidebar #main-nav ul {
  margin: 0;
  padding: 0;
}
#sidebar #main-nav ul li {
  list-style: none;
}
#sidebar #main-nav ul li a, #sidebar #main-nav ul li label {
  display: block;
  color: #BBCBCD;
  padding: 12px 20px;
  text-decoration: none;
  cursor: pointer;
}
#sidebar #main-nav ul li a i, #sidebar #main-nav ul li label i {
  padding-right: 30px;
}
#sidebar #main-nav ul li a:hover, #sidebar #main-nav ul li label:hover {
  background-color: #202B30;
  color: #fff;
}
#sidebar #main-nav ul li a.active, #sidebar #main-nav ul li label.active {
  background-color: #26A69A;
  color: #fff;
}
#sidebar #main-nav ul li input {
  display: none;
}
#sidebar #main-nav ul li label {
  margin-bottom: 0;
}
#sidebar #main-nav ul li label:after {
  font-family: 'FontAwesome';
  content: '\f105';
  float: right;
}
#sidebar #main-nav ul li input + label + ul {
  height: 0;
  overflow: hidden;
  background-color: #161d21;
  transition: height .5s;
}
#sidebar #main-nav ul li input + label + ul li a {
  padding-left: 75px;
  margin-left: -275px;
  transition: margin-left .2s, transform 1s;
}
#sidebar #main-nav ul li input:checked + label {
  background-color: #1b2428;
}
#sidebar #main-nav ul li input:checked + label:after {
  font-family: 'FontAwesome';
  content: '\f107';
  float: right;
}
#sidebar #main-nav ul li input:checked + label + ul {
  height: auto;
}
#sidebar #main-nav ul li input:checked + label + ul li a {
  margin-left: 0;
}
#sidebar #main-nav .logout {
  margin-top: 100px;
  border-top: 1px solid #364044;
}

#sidebar-expand,
#sidebar-collapse {
  display: none;
}

#sidebar-inner-collapse-button {
  display: block;
  padding: 20px;
  margin-bottom: 0;
  color: #81D4FA;
  text-align: center;
  border-bottom: 1px solid #364044;
  cursor: pointer;
}

#sidebar-expand-button {
  position: fixed;
  z-index: 101;
  bottom: 20px;
  left: 20px;
  display: block;
  width: 100px;
  height: 100px;
  line-height: 100px;
  background-color: #81D4FA;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  opacity: .66;
  transition: bottom .66s;
}

#sidebar-expand:checked + #sidebar-expand-button {
  bottom: -300px;
}

#sidebar-expand:checked + #sidebar-expand-button + #sidebar {
  margin-left: 0;
  width: 100%;
}

@media (min-width: 768px) {
  #sidebar {
    margin-left: 0;
  }

  #sidebar-inner-collapse-button {
    display: none;
  }

  #sidebar-expand-button {
    display: none;
  }
}
.listing-table {
  background-color: #fff;
  margin-bottom: 150px;
}
.listing-table thead {
  background-color: #546E7A;
  border: 1px solid #546E7A;
  color: #fff;
}
.listing-table thead th {
  background-color: #546E7A;
}
.listing-table tbody {
  border: 1px solid #ccc;
  border-top: 0;
}
.listing-table th, .listing-table td {
  height: 60px;
  text-align: center;
}
.listing-table td {
  border: 1px solid #ccc;
}
.listing-table td a:hover {
  text-decoration: none;
}
.listing-table tr.current-day {
  background-color: #FFE0B2;
}
.listing-table tr.week-end {
  background-color: #ECEFF1;
}
.listing-table tr:hover {
  background-color: #FBE9E7;
}
.listing-table .copy-item-down,
.listing-table .remove-item {
  background-color: #26A69A;
  padding: 10px 15px;
  border-radius: 5px;
  color: #fff;
  margin: 0 7px;
}
.listing-table .remove-item {
  background-color: #e74c3c;
}
.listing-table .edit-item {
  display: block;
  padding: 10px 0;
}

.w75 {
  width: 75px;
}

.w125 {
  width: 130px;
}

.w350 {
  width: 350px;
}

h1 {
  margin-top: 0;
  margin-bottom: 20px;
}

#content-wrapper {
  margin-top: 20px;
  transition: margin-left .7s;
}

.listing {
  display: block;
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 30px 15px;
  margin-bottom: 15px;
  overflow: auto;
}
.listing .listing-actions {
  float: right;
  padding: 0;
  margin: 10px 0 0 0;
  list-style: none;
}
.listing .listing-actions li {
  float: left;
  margin-left: 10px;
}

.content-w900-limiter {
  width: 900px;
}

@media (min-width: 768px) {
  #content-wrapper {
    margin-left: 275px;
  }
}
@media (min-width: 1200px) {
  .listing-form {
    max-width: 40%;
  }

  .listing-item-form {
    max-width: 66%;
  }
}

/*# sourceMappingURL=listings.css.map */
