<!DOCTYPE html>
<html lang="cs">
<head>
    {control metaTags}

    {control metaTitle}

    {block styles}
        <link rel="stylesheet" href="{$basePath}/assets/css/public.min.css">
    {/block}
</head>
<body>

<div class="container">
    {include #content}
</div>


{block scripts}
    <script type="text/javascript" src="{$basePath}/assets/js/js.min.js"></script>
{/block}
</body>
</html>