{block scripts}
    {include parent}
    <script type="text/javascript" src="{$basePath}/assets/js/listingItemSliders.min.js"></script>
{/block}


{block content}

    <h1>Detail položky</h1>

    {control listingItemForm}

{/block}