{block content}

    <h1>{$listing->getMonth()|monthByNumber} {$listing->getYear()}
        <small class="text-muted">| {if $listing->getName() !== null}{$listing->getName()}{else}Bez názvu{/if}</small>
    </h1>

    <div class="content-w900-limiter">
        <a href="{link :Listings:Listing:edit id => $listing->getId()}">EDIT</a>

        {control listingTable}

    </div>

{/block}