
{var $listingName = $listing->getName() ?? 'Bez názvu'}

<a href="{plink :Listings:Member:ListingDetail:default id => $listing->getId()}{if $isCurrentMonth}#day-{$currentDay}{/if}" class="listing" title="{$listingName}">

    <div class="listing-name">
        <small><b>Název</b></small>
        {$listingName}
    </div>

    <div class="listing-period">
        <small><b>Období</b></small>
        {$listing->getMonth()|monthByNumber} {$listing->getYear()}
    </div>

    <div class="listing-worked-hours">
        <small><b>Odpr. hod.</b></small>
        {var $workedHoursInSeconds = $listing->getWorkedHours()->getSeconds()}
        {$listing->getWorkedHours()|invoiceTimeWithComma}
        {if $workedHoursInSeconds % 3600 != 0}hodiny{elseif $workedHoursInSeconds == 0 or $workedHoursInSeconds > 14400}hodin{elseif $workedHoursInSeconds == 3600}hodina{else}hodiny{/if}
    </div>

    <div class="listing-worked-days">
        <small><b>Odpr. dní</b></small>
        {$listing->getWorkedDays()} / {$listing->getNumberOfDaysInMonth()}
    </div>

</a>