userAuthenticator: Users\Authentication\UserAuthenticator

# commands
defaultDataCommand:
	class: Users\Commands\DefaultDataCommand
	tags: [kdyby.console.command]

newUserCommand:
	class: Users\Commands\NewUserCommand
	tags: [kdyby.console.command]