

{snippet overview}
    {if empty($employers)}
        <div class="alert alert-info">
            <div class="icon-container">
                <img src="{$imagesPath}/info.svg" alt="info-icon">
            </div>
            <div class="message-container">Nebyly nalezeny žádné položky.</div>
        </div>

    {else}
        {foreach $employers as $employer}
            {var $id = $employer->getId()}
            {control employerItem-$id}
        {/foreach}
    {/if}
{/snippet}